@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion{
    display:flex;
    flex-direction: column;

    @include m.mediaq(v.$desktop){
        flex-direction: row;
    }

    &__enlace{
        color: v.$blanco;
        font-size: 1.6rem;
        padding: 2rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        text-align: center;

        &--actual,
        &:hover{
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}